body{font-family:Arial;}

table{
	font-size:0.6em;	
}
thead{
	background-color:#888;
	font-weight:bold;
}

tbody{
	background-color:#EEE;
	font-weight:bold;
	text-align:right;
}

img{
	border:1px solid black;
}

