/*******************************************************************
 * Adapted from:                  								   *
 * TITLE: Color Scheme Stylesheet for Blue Haze                    *
 * URI  : http://www.oswd.org/design/xxx/bluehaze/color-scheme.css *
 * MODIF: 2003-01-05 1608 +0800                                    *
 *******************************************************************/


/* ------------------------------------------------------------------------
   Four basic colors are used to render Blue Haze. These are:
     1. Text Color
     2. Border Color
     3. Background Color (darker)
     4. Background Color (lighter)
   
   To change the above colors, just edit their respective values below.
------------------------------------------------------------------------ */


/* ###### General Color Scheme ###### */

h1, h2, h3, q, #header div, #header div *, #footer *, .headerTitle, .sideBox div, .topOfPage
{ /* Text Color: */  color: #486B10; } 

h1, q,  #header, .sideBox, .sideBox div
{ /* Border Color: */  border-color: #486B10; }

#header, .sideBox div, .sideBox a:hover, .sideBox .thisPage
{ /* Background Color (darker): */  background-color: #E1F2D1; }

q, .sideBox a, .sideBox span
{ /* Background Color (lighter): */  background-color: #fafcff; }


/* ###### Special Colors ###### */

acronym {
  color: green;
  border-bottom-color: green;
}

#bodyText a {
  color: #00AF8A;
  border-bottom-color: #669933;
}

#footer {
  background-color: #fafcff;
}