RewriteEngine On
RewriteBase /wsml2reasoner/
RewriteRule DIPFactSheet.html http://cvs.deri.org/cgi-bin/viewcvs.cgi/*checkout*/wsml2reasoner/web/DIPFactSheet.html [P]
RewriteRule DIPlogo.gif http://cvs.deri.org/cgi-bin/viewcvs.cgi/*checkout*/wsml2reasoner/web/DIPlogo.gif [P]
RewriteRule dip.css http://cvs.deri.org/cgi-bin/viewcvs.cgi/*checkout*/wsml2reasoner/web/dip.css [P]
